.center-on-small-only {
    display: flex;
    padding-top: 50px;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.btn.btn-sm.btn-primary.btn-rounded.waves-effect.waves-light {
    background-color: #1e1e27;
    width: 20px;
    margin-top: 10px;
}

.quatity {
    margin: 10px 0 0 20px;
}

td {
    align-items: center;
}